RewriteEngine on                # включает модуль mod_rewrite в веб-сервере Apache
RewriteRule ^(.*)$ public/$1 [L]   # правило, которое берет абсолютно любой запрошенный url и незаметно для пользователя перенаправляет в папку public
